<!DOCTYPE html>
<html>
	<head>
		<meta property="og:title" content="<%= title %>" />
		<meta property="og:description" content="<%= description %>" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary" />
		<meta name="theme-color" content="#FFFF00" />
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<p><%= description %></p>
	</body>
</html>
